<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Testhub{% endblock %}</title>
        {% block stylesheets %}
        {{ encore_entry_link_tags('app.scss') }}
        {% endblock %}
    </head>
    <body>
        <div id="app">
            <navigation></navigation>
            <sidebar></sidebar>
        </div>
        {% block body %}
        {% endblock %}
        {% block javascripts %}
        {{ encore_entry_script_tags('main') }}
        {% endblock %}
    </body>
</html>
